name: Model Deployment

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and push Docker image
        run: |
          REPO=ghcr.io/lasiagrostis/mlops_hw3_kochedykov_vladimir
          TAG=${GITHUB_SHA}
          docker build -t $REPO:$TAG .
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push $REPO:$TAG
